@import './../../variables';

.swap {
    color: $base-primary;
    cursor: pointer;
    opacity: 0.8;
    margin: 8px;

    &:hover {
        opacity: 1;
    }
}

.mrg-l-8 {
    margin-left: 8px;
    left: 8px;
}